:root {
 
--primaryColor: #ff6600;
--mainWhite: #fff;
--mainBlack: #222;
--mainGrey: #ececec;
--lightblack: #262626;
--lightgrey :#b3b3b3;
--greyishblack:#1a1a1a;
--mainSpacing: 0.1rem;
--mainTransition: all 0.3s linear;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.boundary{
  background-color:var(--primaryColor);;
  height: 4px;
}
.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%
}

.view-button{
  background-color:var(--primaryColor);
  color: var(--mainWhite);
  font-size: 20px;
}
 
.view-button a{
  color:var(--mainBlack);

}

.view-button a:hover{
  color:var(--mainWhite);
  
}

/*----------------------------------------------------*/
/* Main Menu Area css
============================================================================================ */
.navbar{
  background-color: var(--lightblack);
  box-shadow: none;
}
.navbar-brand{
  color: var(--primaryColor);
  margin-left: 20px;
}
.navbar-brand img{
  height: 45px;
}
.reception-icon p{
  color: var(--primaryColor);
  font-size: 12px;
  margin-bottom: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}
.reception-icon p:hover{
  color: var(--mainWhite);
}
.active-menu-bar{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background: var(--mainBlack);
}
.nav-link{
  color: var(--mainWhite);
  margin-right: 20px;
}
.nav-link:hover{
  color: var(--primaryColor);
}
/* End Main Menu Area css
============================================================================================ */

/* --------------- Hero ---------------- */
.hero {
  height: 100vh;
  background: url("../image/1.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  display: inline-block;
  padding: 2rem;
  width: 70%;
}
.banner-title {
  font-size: 2rem ;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: var(--mainWhite)
}
.banner-title span{
  color: var(--primaryColor);
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */

/* ------------get started box  ------------ */
.get-started {
  padding: 10px;
  background: var(--greyishblack);
}
.get-started h6 {
  padding: 10px 0 ;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  color: var(--mainWhite);
}
.get-started-icon{
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 40px;
  padding: 1px;
}
.get-started-icon span{
  font-size: 20px;
  font-weight: bold;
  color: var(--mainWhite);
}

.get-started-icon :hover {
  color: var(--mainWhite);
}

/*------------service area-------*/



.service-card{
    height:350px;
}
.shadow,
.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.icon-primary {
  color: #062caf
}

.icon-bg-circle {
  position: relative
}

.icon-lg {
  font-size: 50px
}

.icon-bg-circle::before {
  z-index: 1;
  position: relative
}

.icon-bg-primary::after {
  background: #062caf !important
}

.icon-bg-circle::after {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  top: -35px;
  left: 15px;
  border-radius: 50%;
  background: inherit;
  opacity: .1
}

p,
.paragraph {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif
}

.icon-bg-yellow::after {
  background: #f6a622 !important
}

.icon-bg-purple::after {
  background: #7952f5
}

.icon-yellow {
  color: #f6a622
}

.icon-purple {
  color: #7952f5
}

.icon-cyan {
  color: #02d0a1
}

.icon-bg-cyan::after {
  background: #02d0a1
}

.icon-bg-red::after {
  background: #ff4949
}

.icon-red {
  color: #ff4949
}

.icon-bg-green::after {
  background: #66cc33
}

.icon-green {
  color: #66cc33
}

.icon-bg-orange::after {
  background: #ff7c17
}

.icon-orange {
  color: #ff7c17
}

.icon-bg-blue::after {
  background: #3682ff
}

.icon-blue {
  color: #3682ff
}

/*-----blog area-----*/

.blog-area{
  
}
a.img-caption {
  margin: 0 0 40px;
  display: block
}

.img-caption img {
  position: relative
}

.img-caption figure {
  box-sizing: content-box;
  overflow: hidden;
  position: relative
}

.img-caption figcaption {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  box-sizing: content-box;
  padding: 17px 25px;
  bottom: 0;
  display: block;
  width: 100%;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out
}

.img-caption:hover figcaption {
  background: #ff6600;
}

.img-caption figcaption h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px
}

.mega .img-caption figcaption h3 {
  font-size: 14px;
  line-height: 20px
}

.mega .img-caption figcaption span {
  font-size: 14px;
  line-height: 14px
}

.mega .img-caption figcaption {
  padding: 10px 20px
}

.img-caption figcaption span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  display: block;
  position: relative;
  opacity: 0;
  max-height: 0;
  padding: 0;
  -webkit-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -moz-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -ms-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -o-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out
}

.img-caption:hover figcaption span {
  max-height: 50px;
  opacity: 1;
  padding: 5px 0 4px
}


/*-------- about area-------------*/
.about-area-home{
  background: url("../image/banner-3.jpg") center/cover no-repeat;
  color: var(--mainWhite);
}
.about-area-home h6{
  color: var(--primaryColor);
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 0;
}
.about-content p{
  line-height: 30px;
padding-bottom: 3rem;
}
/*------------ team area-------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%
}

.fadeInUp {
  animation-name: fadeInUp
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s
}

#team .member:hover .member-info {
  background: #ff6600a8;
  opacity: 1;
  transition: 0.4s
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff
}

#team .member .social a {
  transition: none;
  color: #fff
}

  /* -------------join team area----------------*/
.join-area{ 
  color: var(--mainWhite);
  background: var(--greyishblack);
}

 .join-button{
  background-color:var(--primaryColor);
  color: var(--mainWhite);
  font-size: 20px;
 } 
 
 /*---------portfolio page-----------*/

.portfolio-card:hover {
  transform: scale(1.05);
  background-color:var(--mainGrey);; 
}

.portfolio-card-body a {
  padding: 0 auto;
  background-color:var(--mainGrey);
}
.portfolio-card-body a:hover {
  padding: 0 auto;
  background-color:var(--primaryColor);
  color:black;
}

/*---testimonial area----*/


/*---------footer area----------- */
.footer-area{
  background-color: var(--lightblack);
    font-size: 20px;
    color: var(--mainWhite);
 }
 .footer-area h2{
    color: var(--primaryColor);
    font-size: 30px;
    font-family: 'Mansalva', cursive;
  }
.footer-heading{
  color: var(--mainWhite);
    font-weight: bold;
 
}
.footer-heading:hover{
    color:var(--primaryColor);
}
.footer-para{
    color: var(--lightgrey);
    
}
.footer-para:hover{
  color: var(--mainWhite);
}
.subscribe-box{
    background-color: var(--greyishblack);
    padding: 30px;
    margin: 0 auto;
}
.subscribe-button{
    background-color: var(--primaryColor);;
    font-weight: bold;
}

.follow-us {
    font-size: 15px;
    color:var(--lightgrey);
    margin:  10px;
}
.footer-icon{
font-size: 15px;
padding: 10px;
border-radius: 50px;
background-color:  var(--lightgrey);
color: var(--lightblack);
margin:  10px;
}
.footer-icon:hover{
    color:var(--primaryColor);
}
.footer{
    height: 80px;
    background-color: var(--greyishblack);
}
.footer p {
    font-size: 20px;
    color: var(--lightgrey);
}

